{% extends 'Proyeccion/docente.html' %}
{% block contenido %}
<br>
<br>
<div class="table-responsive">
    <table class="table table-bordered" id="consultarProyectos">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>CODIGO </th>
                <th>PROGRAMA </th>
                <th>SEMESTRE</th>
                <th>NUM HORAS SEMANALES</th>
                <th>FECHA INICIO</th>
                <th>FECHA FIN</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for informacion in informacion_list %}
            <tr>
                <td>{{informacion.nombre}}</td>
                <td>{{informacion.codigo}}</td>
                <td>{{informacion.programa_id}}</td>
                <td>{{informacion.semestre}}</td>
                <td>{{informacion.numero_horas_semana}}</td>
                <td>{{informacion.fecha_inicio}}</td>
                <td>{{informacion.fecha_final}}</td>
                <td><a href="/Proyeccion/ModificarRecursoEstudiante/{{informacion.id}}">Editar</a>
                    <a href="/Proyeccion/EliminarRecursoEstudiante/{{informacion.id}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary" onclick="window.location.href='/Proyeccion/CrearRecursoEstudiante/{{informacion.id}}'">Registrar estudiante</button>
</div>
{% endblock %}