{% extends 'Proyeccion/docente.html' %}
{% block contenido %}
<br>
<br>
<div class="table-responsive">
    <table class="table table-bordered" id="consultarProyectos">
        <thead>
            <tr>
                <th>CODIGO</th>
                <th>NOMBRE DEL PROYECTO </th>
                <th>DEPARTAMENTO</th>
                <th>FACULTAD</th>
                <th>COORDINADOR</th>
                <th>FECHA INICIO</th>
                <th>FECHA FIN</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for informacion in informacion_list %}
            <tr>
                <td>{{informacion.codigo}}</td>
                <td>{{informacion.titulo}}</td>
                <td>{{informacion.departamento_id}}</td>
                <td>{{informacion.facultad_id}}</td>
                <td>{{informacion.coordinador_id}}</td>
                <td>{{informacion.fecha_inicio}}</td>
                <td>{{informacion.fecha_final}}</td>
                <td>
                    <a href="/Proyeccion/ModificarProyecto/{{informacion.id}}">Modificar</a>
                    <a href="/Proyeccion/EliminarProyecto/{{informacion.id}}">Eliminar</a>
                    <a href="/Proyeccion/RecursoEstudiante/{{informacion.id}}">Recurso Estudiante</a>
                    <a href="/Proyeccion/RecursoDocente/{{informacion.id}}">Recurso Docente</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}