{% extends 'index.html' %}

{% block title %}
Docente
{% endblock %}

{% block content %}
<h1>Bienvenido docente: {{nombre}}</h1>
<div id='cssmenu'>
    <ul>
        <li class='active'><a href='#'>Home</a></li>
        <li><a href='/Proyeccion/CrearProyecto'>Nuevo Proyecto</a></li>
        <li><a href='/Proyeccion/Proyectos'>Consultar Proyectos</a></li>
        <li><a href="/Proyeccion/CerrarSession/" > cerrarSession</a></li>
    </ul>
</div>
<div id="content" class="col-xs-12">
    {% block contenido %}
    {% endblock %}
</div>

{% endblock %}