{% extends 'Proyeccion/docente.html' %}
{% block contenido %}
<br>
<div class="col-xs-12">
    <form action="" method="post">{% csrf_token %}
        <div class="alert alert-info" role="alert">
            Confimar la eliminacion del proyecto:
        </div>
        <div class="alert alert-danger" role="alert">
            <p>{{ object.codigo }}</p>
            <p>{{ object.titulo }}</p>
        </div>
        <br>
        <input type="submit" value="Confirmar" class="btn btn-lg btn-danger center-block" />       
    </form>
    <p></p> 
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
    <a href="/Proyeccion/Proyectos/" class="btn btn-lg btn-danger center-block">Cancelar</a>     
    </div>
    <div class="col-xs-4"></div>
</div>
{% endblock %}
