{% extends 'Proyeccion/docente.html' %}
{% block contenido %}
<br>
<div class="col-xs-12">
    <form action="" method="post">{% csrf_token %}
        <div class="alert alert-info" role="alert">
            Confimar la eliminacion del docente:
        </div>
        <div class="alert alert-danger" role="alert">
            <p>{{ object.docente_id.vinculacion_id.tipo }}</p>
            <p>{{ object.docente_id.usuario_id.nombre }}</p>
            
        </div>
        <br>
        <input type="submit" value="Confirmar" class="btn btn-lg btn-danger center-block" />
    </form>
</div>
{% endblock %}
